
* {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

 .button1, .button2, .button3{
    display: inline-block;
    margin: 10rem;
    width: 15%;
    margin-top: 2%;
    text-align: center;
    font-family: monospace;
    border-radius: 15%;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.text, .image {
    display: inline-block;
}

.image {
    width: 30%;
    border-radius: 50%;
}

.round {
    border-radius: 50%;
}

.text {
    width: 55%;
}

.strip {
    background-color: #DDB9A3;
    color: white

}

.button1 {
    background-color: #FF764E;
    
}

.button2 {
    background-color: #5ED3EB;
}

.button3 {
    background-color: #FFCD69;
}

h1 {
    font-family: 'Courier New';
    font-size: 5rem;
}

h2 {
    text-align: center;
    font-size: 1em;
}

section {
    padding: 3%;
}

p {
    font-family: monospace;
    text-align: center;
}


img[src*="campfire"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

img[src*="camper"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

.bg-img {
    background-image: url('assets/footer_img.jpg');
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #F9E7DC;
}
